@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


header{
    text-align: center;
    background-image: linear-gradient(rgb(215, 241, 215),transparent);
}

header p{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;   
}

header img{
    border-radius: 50px;
    box-shadow: 1px 1px 10px black;
}

h1{
    font-size: 1.8em;
    padding: 0px 20px;
    margin-bottom: 10px;   
}

a {  
    padding: 10px; 
    display: inline-block;

}

a img{
    padding: 10px;
    border-radius: 50px;
    transition-duration: .5s;
}

#facebook:hover{
    background-color: #177af24d;
    box-shadow: 1px 0px 5px black;
}

#github:hover{
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: 1px 0px 7px black;
}
